@import 'nib'

base-width = 500px

// Colors!
// Generated with http://coolors.co/app

color-light-wash = #E5E8B6
color-text-primary = #1D1E18
color-text-secondary = #673C4F
color-primary = #586994
color-splash = #DB5230
color-link = lightness( saturation( color-primary, 50% ), 60% )
color-link-active = lightness( saturation( color-link, 60% ), 65% )
color-link-visited = color-primary
color-site-background = mix( color-link, color-text-primary )

base-margin = 20px