{{! should probably use blogModel's attrs, title and description. (name is the URL-friendly name of the blog.)}}
<h1>Tumblr Chaplin Dynamic Blog Base</h1>
<h2>Also, descriptions!</h2>

{{! nav links...? }}