@import 'nib'
@import 'app/styles/_definitions'

body, html
	color color-text-primary

.container
	container()

a
	color color-link
	
	a:hover, a:active
		color color-link-active
		
	a:visited
		color color-link-visited

// body
// 	background color-site-background
