@import 'nib'
@import 'app/styles/_definitions'

header
  // background color-light-wash
  padding 1px 0
  text-align center
  margin-bottom base-margin
  
  h1
    color color-splash
    font-size 3em
    font-weight normal
    letter-spacing 1px

  h2
    color color-text-secondary
    font-size 1em
