<ul>
	<li class="post-meta-item">
		<span class="post-meta-item-name">Notes</span>
		<span class="post-meta-item-value">{{ note_count }}</span>
	</li>
	<li class="post-meta-item">
		<span class="post-meta-item-name">Posted</span>
		<span class="post-meta-item-value">{{ date }}</span>
	</li>
	<li class="post-meta-item">
		<span class="post-meta-item-contents"><a href="{{ post_url }}">Permalink</a></span>
	</li>
</ul>
