<div class="photo-post-content">
	{{! Note: To actually handle photosets (which can have layouts) will require more complex work.  For now, just spamming photos here.}}
	{{#each photos}}
	<figure style="width: {{ blogroll_size.width }}px; height: {{ blogroll_size.height }}px; background: gray;">
		:D
		{{! FPO... }}
	</figure>
	{{/each}}
</div>