{{! thumbnail_url is also available if you want videos only loading on permalinks. }}

<section class="video-post-player">
	{{{ player_blogroll_size.embed_code }}}
</section>

{{#if caption}}
<section class="video-post-caption">
	{{{caption}}}
</section>
{{/if}}